.bg-img{
    background-image: url('./Image.png');
    width: 97%;
    top: 0;
    background-size: cover;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 88vh;
    background-position-y: 15%;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin-top: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mobile-bg{
    background-image: url('./Image.png');
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    background-size: cover;
    height: 90vh;
    background-position-x: 40%;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin-top: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (min-width:240px) {
    .bg-img{
        display: none;
    }
}

@media screen and (min-width:800px) {
    .bg-img{
        display: block;
    }
}